/* You can add global styles to this file, and also import other style files */
/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); */
*{
    box-sizing: border-box;
}
.container{
    padding: 10px;
    display: block;
}
body{
    background-color: #9e9e9e;
}